{deps, [
	{pbkdf2, ".*", {git, "git://github.com/whitelynx/erlang-pbkdf2", {branch, "master"}}},
	{neotoma, ".*", {git, "git://github.com/seancribbs/neotoma", {branch, "master"}}}
]}.
{asn1_opts, [ber, der, undec_rest]}.
{escript_name, "login_kerlberos"}.
{escript_shebang, "#!/usr/bin/env escript\n"}.
{escript_incl_apps, [neotoma, pbkdf2]}.
{escript_emu_args, "%%! -smp disable -kernel error_logger silent\n"}.
%{escript_incl_extra, [{"priv/tty.so", "priv"}]}.
{port_specs, [
	{"priv/tty.so", ["c_src/tty.c"]}
]}.
