{deps, [
	{pbkdf2, "2.0.0"},
	{neotoma, "1.7.3"}
]}.
{plugins, [
	rebar3_hex,
	{provider_asn1, "0.2.3"}
]}.
{provider_hooks, [{pre, [{compile, {asn, compile}}]},
                  {post, [{clean, {asn, clean}}]}]}.
{asn1_args, [{encoding, ber}, {compile_opts, [ber, der, undec_rest]}]}.

{shell, [{apps, [kerlberos]}]}.
