[
    %%
    %% Detailed KRB5 client settings
    %%
    {kerlberos, [
        {realms, [
            %%
            %% Default settings which apply to all realms (but can be over-
            %% ridden per-realm below).
            %%
            {default, [
                %%
                %% Always/never use DNS discovery of KDCs (set to true to
                %% override a krb5.conf which has "dns_lookup_kdc = false"
                %%
                %{use_dns, true},

                %%
                %% Base timeout for abandoning requests to a KDC (msecs)
                %%
                %{timeout, 1000},

                %%
                %% Limit of total number of attempts to talk to a KDC
                %%
                %{retries, 3},

                %%
                %% Choose an explicit priority list for Kerberos etypes/ciphers.
                %%
                %{ciphers, [aes256_hmac_sha384, aes128_hmac_sha256,
                %           aes256_hmac_sha1, aes128_hmac_sha1, rc4_hmac]},
            ]},

            %%
            %% Override some settings for one realm
            %%
            {"SOME.REALM.COM", [
                %%
                %% Explicitly list KDCs for this realm
                %%
                %{kdc, ["kdc1.domain", {"kdc2.domain", 8888}]},
            ]}

            %%
            %% Note that kerlberos also parses settings from /etc/krb5.conf
            %% including realms with explicit KDCs.
            %%
        ]}
    ]},

    {lager, [
        {handlers, [
            {lager_console_backend, [{level, debug}]},
            {lager_file_backend, [{file, "log/console.log"}, {level, info}]},
            {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
            {lager_file_backend, [{file, "log/debug.log"}, {level, debug}, {count, 10}]}
        ]},

        {crash_log, "log/crash.log"},
        {crash_log_date, "$D0"},
        {crash_log_count, 5},

        {error_logger_redirect, true}
    ]},

    {sasl, [
        {sasl_error_logger, false}
    ]}
].
